body {
    margin: 0;
}

header{
    height: 10em;
    top: 0;
    position: sticky;
    padding-left: 9%;
    padding-right: 9%;
    z-index: 1000;
    min-height:fit-content;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    min-height:fit-content;
}

.liens_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header button{
    padding: 1em;
    margin: 1em;
}

#lien_logout{
    min-width: 8em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#lien_logout img{
    height: 1.5em;
}

.top_main{
    margin-top: 2em;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: middle;
}

.top_main h1{
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.bouton-ajouter{
    min-width: 15em;
    height: 5em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1em;
    margin-top: auto;
    margin-bottom: 1em;
    text-align: left;
}

.bouton-ajouter img{
    height: 3em;
    margin-right: 1em;
}

.top_main .barre_recherche{
    height: 3em;
    width: 23em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.top_main .barre_recherche input{
    margin-bottom: 0em;
    margin-left: 1em;
    width: 100%;
}

.top_main .barre_recherche button{
    height: 2em;
    margin: 1em;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.top_main .barre_recherche img{
    height: 100%;
}

.content{
    margin-top: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

.produits{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
}

.objet_produit{
    width: fit-content;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
    min-width: 14em;
}

.produit{
    padding: 0.5em;
    align-items: center;
    position: relative;
}

.supp_produit{
    padding: 0px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.supp_produit img{
    width: 100%;
    height: 100%;
}

.nomProduit, .dispo{
    text-align: center;
    margin-bottom: 0px;
}

.info_prod{
    padding: 0px;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
}

.info_prod img{
    width: 100%;
    height: 100%;
}

.dispo{
  margin-top: 0px;
  margin-bottom: 1em;
}

.bouton > button{
    margin: 0.5em;
    padding: 3%;
    width: 100%;
}

.bouton > button img{
    height: 1em;
}

.bouton{
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0.2em;
}

#popup-overlay-info{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-overlay-info > div{
    padding: 20px;
    width: 300px;
    text-align: center;
}

#lien_logout img{
    height: 1.5em;
    size: 100%;

}

table{
    justify-content: center;
    display: flex;
}

tr{
    width: 80em;
}

th{
    padding: 1em;
    display: flex;
    flex-direction:column;
}

th p{
    margin-bottom: 0px;
}

th form{
    align-items: center;
    display: flex;
    height: 100%;
}

th button, th div{
    padding: 0.5em;
    margin-left: auto;
}

th div{
    width: fit-content;
    display: flex;
    height: 1.5em;
    align-items: center;
}
th div button{
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: fit-content;
}
.delete_reservation{
    margin-right: 0.5em;    
}

th div img{
    height: 100%;
    display: block;
}

tbody{
    min-width:fit-content;
    display: flex;
    flex-direction: column;
}

#popup-overlay-modif , #popup-overlay-Ajout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.popup-content > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.popup-content > div > *{
    width: 40%;
    box-sizing: border-box;
}

.popup-content > div > button{
    width: auto;
    box-sizing: border-box;
}

#bouton_modif {
    justify-content: end;
}

#okModif, #sauvModif {
    margin-right: 5%;
}

.nomProduit {
    margin-top: 24px;
}

.content > div{
    justify-content:center;
    align-items: center;
    display: flex;
    flex-flow: nowrap;
}

.content > div > form > button{
    width: 10em;
    padding: 1em;
    margin: 1em;
}
