body {
    margin: 0;
}

header{
    height: 10em;
    top: 0;
    position: sticky;
    padding-left: 9%;
    padding-right: 9%;
    z-index: 1000;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
}

.liens_page{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header a, header button{
    padding: 1em;
    margin: 1em;
    display: block;
}

.content{
    margin-top: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

.top_main{
    margin-top: 2em;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.top_main button{
    width: 15em;
    height: 5em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1em;
}

.top_main button img{
    height: 3em;
    size: 100%;
}

.top_main .barre_recherche{
    width: 25em;
    height: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

li{
    flex-basis: 20%;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.produit{
    padding: 0.5em;
    align-items: center;
    position: relative;
}

ul{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    align-items: center;
}

p{
    text-align: center;
}

.bouton{
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bouton > button{
    margin: 0.5em;
    height: 2.5em;
    width: 80%;
}

.supp_produit{
    padding: 0px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.supp_produit img{
    width: 100%;
    height: 100%;
}

.info_prod{
    padding: 0px;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
}

.info_prod img{
    width: 100%;
    height: 100%;
}

.Modifier img, .Reserver img{
    height: 1em;
    size: 1em;
}