main {
    display: flex;
}

section {
    flex-basis: 3%;
    flex-grow: 1;
}

ul li {
    width: 100%;
}

ul {
    padding: 0%;
    list-style-type: none;
}

h1 {
    margin-bottom: 10%;
    background: linear-gradient(to right, #ff4fa4, #ff8cc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pwd input {
    width: 99%;
}

#email, #pwd {
    margin-bottom: 4%;
}

#email input {
    width: 99%;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(white, white), linear-gradient(to right, #ff4fa4, #ff8cc4);
}

#prenom-nom {
    display: flex;
    margin-bottom: 4%;
}

#prenom-nom #prenom {
    margin-right: 2%;
}

#prenom-nom input {
    width: 50%;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(white, white), linear-gradient(to right, #ff4fa4, #ff8cc4);
}

input {
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 6px;
    border: double 1px transparent;
    background-color: #ffdeee;
}

#Enregistrer {
    display: flex;
    justify-content: right;
    margin-bottom: 4%;
}

.errors {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
}

.errors li {
    margin-bottom: 2px;
}

.content{
    align-items: center;
}

.content form {
    width: 50%;
}