body{
  font-family: 'Roboto';
}

header{
    background: linear-gradient(to right, #ff4fa4, #ff8cc4);
}

header button{
  background-color: white;
  border-radius: 15px;
}

#ajouter_prod{
  background: linear-gradient(to right, #ff4fa4, #ff8cc4);
  border-radius: 18px;
  color: white;
}

.top_main .barre_recherche{
  border-radius: 20px;
  border-style: solid;
  border-color: #f0f0f0;
}
.top_main .barre_recherche input{
  border: none;
  font-size: 16px;
}
.top_main .barre_recherche input::placeholder{
  color: #ff8fc5;
  font-size: 16px;
  font-style: italic;
}

input:focus{
  outline: none;
}

.objet_produit{
  background-color: #f0f0f0; 
  list-style: none;
  border-radius: 15px;
}

.supp_produit, .info_prod, #search{
  background: none;
  border: none;
  border-radius: 15px;
}

.dispo{
  font-size: 0.8em;
  color: grey;
  user-select: none;
}

.Modifier, .Reserver, .famille{
  background-color: black;
  color: white;
  border-radius: 8px;
}

button{
  transition: transform 0.1s ease, background-color 0.3s ease;
  border: solid lightgrey 0.2em;
}

button:active {
    transform: scale(0.9);
}

button:hover{
  outline: 2px solid #007BFF;
}

a{
  text-decoration: none;
  color: black;
}

img{
  pointer-events: none;
}

#popup-overlay-info{
  background-color: rgba(0, 0, 0, 0.7);
}

#popup-overlay-info > div{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
