ul{
    list-style-type: none;
  }
  
  h1 {
      background: linear-gradient(to right, #ff4fa4, #ff8cc4); /* Dégradé */
      -webkit-background-clip: text; /* Clip le fond au texte pour les navigateurs Webkit */
      -webkit-text-fill-color: transparent; /* Rend le texte transparent pour laisser le dégradé apparaître */
  }

  #email input {
    border-radius: 6px;
    border: double 1px transparent;
    background-color: #ffdeee;
    
    background-origin: border-box;
    background-clip: padding-box, border-box; 
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #ff4fa4, #ff8cc4);
  }

  #prenom-nom input {
    border-radius: 6px;
    border: double 1px transparent;
    background-color: #ffdeee;
    
    background-origin: border-box;
    background-clip: padding-box, border-box; 
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #ff4fa4, #ff8cc4);
  }
  
  
  #paragraphe input{
    border-radius: 6px;
    border: double 1px transparent;
    background-color: #ffdeee;
    
    background-image: linear-gradient(to right, #ff4fa4, #ff8cc4), linear-gradient(white, white);
    background-origin: border-box;
    
  }
  
  .errors {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
}
.errors li {
    margin-bottom: 2px;
}

.password-container {
  position: relative;
  padding-right: 40px;
  border-radius: 6px;
  border: double 1px transparent;
  background-color: #ffdeee;
}

.password-container input {
  background-color: #ffdeee;
  border: none;
}

.password-container input:focus{
  outline: none;
}

.password-container:focus-within {
  outline: 2px solid;
}

.password-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5em;
  width: 1.5em;
  height: 1.5em;
}