{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loggin.css') }}">
    <script defer src="{{ url_for('static', filename='javascript/inscription-connection-settings.js') }}"></script>
    {% block css %}
    {% endblock %}
{% endblock %}
{% block body %}
    {% block header %}
    {% endblock %}
    <main>
        <img src="{{ url_for('static', filename='images/chimie1.png') }}" alt="Image 1">
        <section class="content">
            {% block main %}
            {% endblock %}
        </section>
        <img src="{{ url_for('static', filename='images/chimie2.png') }}" alt="Image 2">
    </main>
{% endblock %}