{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='loggin.css') }}">
    <script defer src="static/app.js"></script>
{% endblock %}
{% block body %}
<main>
    <section>
        <img src="{{ url_for('static', filename='images/chimie1.png') }}" alt="Image 1">
    </section>
    <section>
        {% block main %}
        {% endblock %}
    </section>
    <section>
        <img src="{{ url_for('static', filename='images/chimie2.png') }}" alt="Image 2">
    </section>
</main>
{% endblock %}