{% extends "base/base.html" %}

    {% block head %}
        <link rel="stylesheet" href="{{ url_for ('static', filename='produit-reservation.css') }}">
        <script src="{{ url_for('static', filename='app.js')}}"></script>
        {% block css_js %}
        {% endblock %}
    {% endblock %}
    
    {% block body %}
        {% include 'header.html' %}
        <main>
            <section class="top_main">
                {% block top_main %}
                {% endblock %}
            </section>
            <section class="content">
                {% block content %}
                {% endblock %}
            </section>
        </main>
        <footer>
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
        </footer>
    {% endblock %}
</html>