{% extends "base/base-inscription-connection-settings.html" %}

{% block main %}
    <form role="form" method="POST" action="{{ url_for('reset_token', token=token, time_in_link='pass') }}">
        {{ form.hidden_tag() }}
        <ul>
            <li><h1>Changer votre mot de passe</h1></li>

            <!-- Champ mot de passe -->
            <p>Le mot de passe doit contenir au minimum 8 caractères, 1 majuscule, 1 chiffre et 1 carractère spécial</p>
            <li id="pwd" class="password">
                <fieldset>
                    <legend>Nouveau mot de passe</legend>
                    <div class="password-container">
                        {{ form.mdp(placeholder="Entrez votre mot de passe") }}
                        <img class="toggle" src="{{ url_for('static', filename='images/cacher.png') }}">
                    </div>
                </fieldset>
                {% if form.mdp.errors %}
                    <ul class="errors">
                        {% for error in form.mdp.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>

            <!-- Champ confirmation mot de passe -->
            <li id="pwdConf" class="password">
                <fieldset>
                    <legend>Confirmation mot de passe</legend>
                    <div class="password-container">
                        {{ form.confirm_mdp(placeholder="Confirmez votre mot de passe") }}
                        <img class="toggle" src="{{ url_for('static', filename='images/cacher.png') }}">
                    </div>
                </fieldset>
                {% if form.confirm_mdp.errors %}
                    <ul class="errors">
                        {% for error in form.confirm_mdp.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li id="button">
                <!-- Bouton submit -->
                <button type="submit">Changer de mot de passe <img src="{{ url_for('static', filename='images/fleche_gauche.png')}}" ></button>
            </li>
        </ul>
    </form>
{% endblock %}