<!doctype html>
<html>
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Stockage Chimie</title>
        {% endblock %}
        <link rel=" stylesheet " href="{{ url_for ('static', filename='position_page_co_ins.css') }}">
        <link rel=" stylesheet " href="{{ url_for ('static', filename='style_page_co_ins.css') }}">
    </head>
    
    <body>
        <main class="main_co_ins">
            <section>
                <img src="{{ url_for('static', filename='images/chimie1.png') }}" alt="Image 1">
            </section>
            <section id="main_section">
                {% if msg %}
                    <h1>{{msg}}</h1>
                {% endif %}
                <form action="{{ url_for('connection') }}" method="GET">
                <ul>
                    <li><h1>Connectez-vous</h1></li>
                    <li id="email"><input type="text" name="email" placeholder="Entrer votre e-mail" ></li>
                    <li id="pwd"><input type="password" name="pwd" placeholder="Entrer votre mots de passe" ></li>
                    <li id="paragraphe">
                        <input type="checkbox">
                        <p>Rester connecté</p>
                        <button type="submit">Me connecter</button>
                        
                    </li>
                    <li><a href="/inscription">Créer un compte</a></li>
                </ul>
                </form>
            </section>
            <section>
                <img src="{{ url_for('static', filename='images/chimie2.png') }}" alt="Image 2">
            </section>
        </main>
        <script src="app.js"></script>
    </body>
</html>