{% extends "base.html" %}

    {% block header_nav%}
        {% if current_user.is_preparateur %}
            <a href="#">gérer les stocks</a>
        {% else %}
            <a href="/">liste des produits</a>
        {% endif %}
        <a href="/preparation/reservations" id="lien_reservation"> liste des réservations</a>
        <a href="/connection" id="lien_logout">logout</a>
    {% endblock %}

    {% block top_main %}
        {% if current_user.is_preparateur %}
            <buton id="ajouter_prod"> Ajouter un produit </buton>
        {% else %}
            <h1>Liste des produits</h1>
        {% endif %}
        <form  action="{{ url_for('search') }}" method="GET">
            <input class="barre_recherche" type="search" placeholder="Nom produit/famille" aria-label="Search" name="search" id="search">
        </form>
    {% endblock %}

    {% block content %}
        <ul>
            {% for produit in liste_produit %}
                <li>
                    <div class="produit">
                        <section class="popup">
                            <!-- popup information -->
                            <div id="popup-overlay">
                                <div id="popup-content">
                                    <h3>Détail produit</h3>
                                    <p>Fonction :</p>
                                    <p>{{ produit.fonctionProduit }}</p>
                                    <p>Lieu de stockage :</p>
                                    <p>{{ produit.lieu }}</p>
                                    <a href="javascript:void(0)">ok</a>
                                </div>
                            </div>

                            <!-- popup réserver -->
                            <div id="popup-overlay">
                                <div id="popup-content">
                                    <p>Quantité en Stock : {{ produit.stock }}</p>
                                    <p> Quantité réservé </p>
                                    <input type="number", placeholder="Quantité">
                                    <button>+1</button>
                                    <button>+10</button>
                                    <button>+100</button>
                                    <button>+1000</button>
                                    <button>Réserver</button>
                                    <a href="javascript:void(0)">Annuler</a>
                                </div>
                            </div>

                            <!-- popup supprimer un produit mot de passe -->
                            <div id="popup-overlay">
                                <div id="popup-content">
                                    
                                </div>
                            </div>

                            <!-- popup supprimer un produit confirmation -->
                            <div id="popup-overlay">
                                <div id="popup-content">
                                    
                                </div>
                            </div>
                        </section>

                        {% if current_user.is_preparateur %}
                            <button id="supp_produit"><img src="{{url_for('static', filename='images/'+supp_produit.img)}}"></button>
                        {% endif %}
                        <img src="{{url_for('static', filename='images/'+produit.nomProduit)}}" alt="img du produit">
                        <p>{{produit.nomProduit}}</p>
                        <button id="info_prod"><img src="{{url_for('static', filename='images/info_produit.png')}}"></button>
                        {% if produit.disponible %}
                            <p>Disponible</p>
                            {% if current_user.is_preparateur %}
                                <button id="Modifier"> Modifier </button>
                            {% endif %}
                            <button id="Reserver"> Reserver </button>
                        {% else %}
                            <p>Indisponible</p>
                            {% if current_user.is_preparateur %}
                                <button id="Modifier"> Modifier </button>
                            {% endif %}
                            <a href="#" id="famille"> produits de la meme famille </button>
                        {% endif %} 
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

