{% extends "base.html" %}

    {% block header_nav%}
        <div class="liens_page">
            {% if current_user.estPreparateur %}
            <form  action="{{ url_for('home') }}" method="GET">
                <button>gérer les stocks</button>
            </form>
            {% else %}
            <form  action="{{ url_for('home') }}" method="GET">
                <button>liste des produits</button>
            </form>
            {% endif %}
            <form  action="{{ url_for('preparation_reservation') }}" method="GET">
                <button id="lien_reservation"> liste des réservations</button>
            </form>
        </div>
    {% endblock %}

    {% block top_main %}
        {% if current_user.estPreparateur %}
            <button id="ajouter_prod" type="submit"><img src="{{url_for('static', filename='images/ajouter_prod.png')}}" alt ="i"> Ajouter un produit </button>
        {% else %}
            <h1>Liste des produits</h1>
        {% endif %}
        <form  action="{{ url_for('search') }}" method="GET" class="barre_recherche">
            <input class="barre_recherche" type="search" placeholder="  Nom produit/famille " aria-label="Search" name="search" id="search">
            <button id="search" type="submit"><img src="{{url_for('static', filename='images/search.png')}}" alt ="search"></button>
        </form>
    {% endblock %}

    {% block content %}
        <ul>
            {% for produit_qte in liste_produit_qte %}
                {% set produit = produit_qte[0] %}
                {% set qte = produit_qte[1] %}
                <li>
                    <div class="produit">
                        <section class="popup">
                            
                            

                            <!-- popup supprimer un produit mot de passe -->
                            <div id="popup-overlay" style="display: none;">
                                <div id="popup-content">
                                    
                                </div>
                            </div>

                            <!-- popup supprimer un produit confirmation -->
                            <div id="popup-overlay" style="display: none;">
                                <div id="popup-content">
                                    
                                </div>
                            </div>
                        </section>

                        {% if current_user.estPreparateur %}
                            <button class="supp_produit"><img src="{{url_for('static', filename='images/supp_produit.png')}}"></button>
                        {% endif %}
                        <!-- <img src="{{url_for('static', filename='images/'+produit.nomProduit)}}" alt="img du produit"> -->
                        <p>{{produit.nomProduit}}   <button class="info_prod" data-produit="{{ produit.idProduit }}"><img src="{{url_for('static', filename='images/info_produit.png')}}" alt ="i"></button></p>
                        {% if qte > 0 %}
                            <p class="dispo">Disponible</p>
                            <div class="bouton">
                                {% if current_user.estPreparateur %}
                                    <button class="Modifier"><img src="{{url_for('static', filename='images/modifier.png')}}" alt ="i"> Modifier </button>
                                {% endif %}
                                <button class="Reserver" data-produit="{{ produit.idProduit }}"> Reserver </button>
                            </div>
                        {% else %}
                            <p class="dispo">Indisponible</p>
                            <div class="bouton">
                                {% if current_user.estPreparateur %}
                                <button class="Modifier"> Modifier </button>
                                {% endif %}
                                <button href="#" class="famille"> Produits de la même famille </button>
                            </div>

                        {% endif %} 
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

