{% extends "base/base-inscription-connection-settings.html" %}

{% block css %}
    <style>main{margin: 0px;}</style>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block main %}
    
    <form role="form" method="POST" action = "{{ url_for ('settings') }}">
        {{ form.hidden_tag() }}
        <ul>
            <li><h1>Vos paramètres</h1></li>
            <li id="email" class="text disabled">
                <fieldset>
                    <legend>Email</legend>
                    {{ form.email(value=current_user.email) }}
                </fieldset>
                {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <!-- Champs prénom et nom -->
            <li id="prenom-nom" class="text">
                <div>
                    <fieldset>
                        <legend>Prénom</legend>
                        {{ form.prenom(placeholder="Prénom", value=current_user.prenom) }}
                    </fieldset>
                    {% if form.prenom.errors %}
                    <ul class="errors">
                        {% for error in form.prenom.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div>
                    <fieldset>
                        <legend>Nom</legend>
                        {{ form.nom(placeholder="Nom", value=current_user.nom) }}
                    </fieldset>
                    {% if form.nom.errors %}
                    <ul class="errors">
                        {% for error in form.nom.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </li>
            <!-- Champ mot de passe -->
            <li id="pwd" class="password">
                <fieldset>
                    <legend>Mot de passe</legend>
                    <div class="password-container">
                        {{ form.old_mdp(placeholder="Entrez votre mot de passe") }}
                        <img class="toggle" src="{{ url_for('static', filename='images/cacher.png') }}">
                    </div>
                </fieldset>
                {% if form.old_mdp.errors %}
                <ul class="errors">
                        {% for error in form.old_mdp.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <!-- Champ nouveau mot de passe -->
            <p>Le mot de passe doit contenir au minimum 8 caractères, 1 majuscule, 1 chiffre et 1 carractère spécial</p>
            <li id="pwdNew" class="password">
                <fieldset>
                    <legend>Nouveau mot de passe</legend>
                    <div class="password-container">
                        {{ form.mdp(placeholder="Entrez votre nouveau mot de passe") }}
                        <img class="toggle" src="{{ url_for('static', filename='images/cacher.png') }}">
                    </div>
                </fieldset>
                {% if form.mdp.errors %}
                <ul class="errors">
                    {% for error in form.mdp.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <!-- Champ confirmation nouveau mot de passe -->
            <li id="pwdConf" class="password">
                <fieldset>
                    <legend>Confirmation mot de passe</legend>
                    <div class="password-container">
                        {{ form.confirm_mdp(placeholder="Confirmez votre nouveau mot de passe") }}
                        <img class="toggle" src="{{ url_for('static', filename='images/cacher.png') }}">
                    </div>
                </fieldset>
                {% if form.confirm_mdp.errors %}
                <ul class="errors">
                    {% for error in form.confirm_mdp.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <!-- Champ reception email status commande -->
            <li id="button">
                <div>
                    <div class="row">
                        {{ form.info(checked=current_user.info) }} <label>Recevoir les mails facultatifs (Notifications concernant vos commandes)</label>
                        {% if form.info.errors %}
                        <ul class="errors">
                            {% for error in form.info.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- Bouton submit -->
                <button type="submit">Enregistrer <img src="{{ url_for('static', filename='images/fleche_gauche.png')}}" ></button>
            </li>
        </ul>
    </form>
{% endblock %}